source/gamint/gamess
build/osx*
build/gnu*
build/em64t*
build/cmake
build/UNX/*.mk
!build/UNX/objlibs.mk
!build/UNX/sccdftb.mk
exec
test/data/xtbd_pes.kernel
test/scratch
test/output*
test/em64t*
test/gnu*
test/bench
test/*.ctdiff
tool/qchem
tool/modules.txt
tool/prefx_*
tool/tsort.inp
tool/pycharmm/.idea
lib
sphinxdoc/build
source/*/*~
source/blade/build*
source/blade/run/output*
source/blade/run/*.xtc
source/blade/run/*.lmd
source/blade/run/*.nrg
source/blade/run/*.cpt
source/blade/run/*.profile
source/blade/run/slurm-*
